.barra {
    display: flex;
    flex-direction: column;
    padding-top: 3rem;
    

    @include tablet {
        flex-direction: row;
        justify-content: space-between;

        a {
            min-width: 20%;
        }
    }


}

.navbar {
    visibility: hidden;
    opacity: 0;
    transition: visibility .3s ease-in-out, opacity 0.3s linear;

    @include tablet {
        display: flex;
        align-items: center;
        opacity: 1;
        visibility: visible;
    }

    a {
        color: $blanco;
        text-decoration: none;
        font-size: 1.8rem;
        display: block;
        text-align: center;

        @include tablet {
            margin-right: 2rem;

            &:last-of-type {
                margin-right: 3rem;
            } 
        }
    }
}

// Menu Hamburguesa 

.mobile-menu {
    align-self: center;
    @include tablet {
        display: none;
    }

    img {
        width: 5rem;
    }
}


.mostrar {
    opacity: 1;
    visibility: visible;
}